/**

This structure allows for this class to be
directly passed into transistionName in ReactCSSTransistionGroup
using css module

**/
.Sx9h__fadeIn__enter {
  opacity: 0.01;
  transition: max-height 1.5s ease, opacity 1.5s ease;
  max-height: 0;
}
._2AwSa_fadeIn__enterActive {
  overflow: hidden;
  opacity: 1;
  transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1), opacity 1.5s ease;
  max-height: 1000px;
}
._2Zxjj_fadeIn__leave {
  overflow: hidden;
  opacity: 1;
  transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1), opacity 1.5s ease;
  max-height: 1000px;
}
._3MZh6_fadeIn__leaveActive {
  opacity: 0.01;
  transition: max-height 1.5s ease, opacity 1.5s ease;
  max-height: 0;
}
.vOfRv_fadeIn__appear {
  opacity: 0.01;
  transition: max-height 1.5s ease, opacity 1.5s ease;
  max-height: 0;
}
._2ybIy_fadeIn__appearActive {
  overflow: hidden;
  opacity: 1;
  transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1), opacity 1.5s ease;
  max-height: 1000px;
}
/**

This structure allows for this class to be
directly passed into transistionName in ReactCSSTransistionGroup
using css module

**/
._3TUjy_keyFrame__enter {
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
._1iCvO_keyFrame__enterActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
._1DizE_keyFrame__leave {
  overflow: hidden;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
._1L0EV_keyFrame__leaveActive {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
._1xx4Y_keyFrame__appear {
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
._27yVA_keyFrame__appearActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
/**

This structure allows for this class to be
directly passed into transistionName in ReactCSSTransistionGroup
using css module

**/
._3ejuA_slideLeft__enter {
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
._2GCGZ_slideLeft__enterActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
._2E1Yq_slideLeft__leave {
  overflow: hidden;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
._2fUWS_slideLeft__leaveActive {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
.jNb1B_slideLeft__appear {
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
._2QZGy_slideLeft__appearActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
/**

This structure allows for this class to be
directly passed into transistionName in ReactCSSTransistionGroup
using css module

**/
._2k3JD_slideRight__enter {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}
._1pqRZ_slideRight__enterActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
.azDlW_slideRight__leave {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
._1AdiN_slideRight__leaveActive {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}
._2NZQI_slideRight__appear {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}
._3H_Lh_slideRight__appearActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

/*# sourceMappingURL=style.css.map*/